<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Order Date</th>
                <th>Membership Level</th>
                <th>Member Name</th>
                <th>Shipping Address</th>
                <th>Tracking ID</th>
                <th>Preferences</th>
                <th>Flavours</th>
                <th>Paid?</th>
            </tr>
        </thead>
        <tbody>
        	<% @orders.each do |order| %>
                <tr class="success">
                    <td>
                        <%= order.id.to_s %>
                    </td>
                    <td>
                        <%= order.created_at.to_s %>
                    </td>
                    <td>
                        <% if order.user.member_level == 1 %>
                            Trial
                        <% else %>
                            Member
                        <% end %>
                    </td>
                    <td>
                        <%= order.user.first_name + " " + order.user.last_name %>
                    </td>
                    <td>
                        <%= order.street_address + " " + order.city + " " + order.postcode.to_s + " " + order.state %>
                    </td>
                    <td>
                        <% if order.tracking_id == nil %>
                            <form href="/">
                                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                <input name="order_id" value="<%= order.id %>" type="hidden">
                                <input type="text" name="tracking_id" placeholder="Insert full tracking ID here.">
                                <input type="submit" value="Submit" class="submit-tracking">
                            </form>
                        <% else %>
                            <%= order.tracking_id %>
                        <% end %>
                    </td>
                    <td>
                        <% order.user.preferences.each do |preference| %>
                        <%= preference.name + " " %>
                        <% end %>
                    </td>
                    <td>
                       <% if order.tracking_id == nil %>
                            <form href="/">
                                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                <input name="order_id" value="<%= order.id %>" type="hidden">
                                <input type="text" name="flavors" placeholder="Insert ',' between each flavors">
                                <input type="submit" value="Submit" class="submit-flavors">
                            </form>
                        <% else %>
                            <%= order.flavors %>
                        <% end %>
                    </td>
                    <td>
                       <%= order.paid %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
</body>
</html>                                		
