<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Order Date</th>
                <th>Membership Level</th>
                <th>Member Name</th>
                <th>Shipping Address</th>
                <th>Tracking ID</th>
                <th>Preferences</th>
            </tr>
        </thead>
        <tbody>
        	<% @orders.each do |order| %>
                <tr class="success">
                    <td>
                        <%= order.id.to_s %>
                    </td>
                    <td>
                        <%= order.created_at.to_s %>
                    </td>
                    <td>
                        <% if order.user.member_level == 1 %>
                            Trial
                        <% else %>
                            Member
                        <% end %>
                    </td>
                    <td>
                        <%= order.user.first_name + " " + order.user.last_name %>
                    </td>
                    <td>
                        <%= order.street_address + " " + order.city + " " + order.postcode.to_s + " " + order.state %>
                    </td>
                    <td>
                        INZERT TRCKING ID FORM HERE
                    </td>
                    <td>
                        <% order.user.preferences.each do |preference| %>
                        <%= preference.name + " " %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
</body>
</html>                                		
