<!DOCTYPE html>
<html>
<head>
  <title>VapeTestMY</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- jQuery -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img src="http://vapeclubmy.com/wp-content/uploads/2015/08/VapeClub-Logo-Only.png" height="60px" width="40px" ></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <% if current_user %>
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li class="hidden">
	                        <a href="#page-top"></a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="/#">Admin</a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="/#">Orders</a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="/#">Logout</a>
	                    </li>
	                </ul>
	            </div>
            <% end %>
        </div>
    </nav>
    
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="jumbotron">
  <div class="container center">
    <%= yield %>
  </div>
</div>

</body>
</html>
